<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js">
    <link rel="stylesheet" href="../static/base.css">
    <style>
    </style>
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>

    <div class="container">
        <div class="card">
            <h2>Coleta de óleo</h2>
            <img src="../static/undraw_React_re_g3ui.png" width="100%">
            <!--<canvas id="chart1"></canvas>-->
        </div>

        <div class="card">
            <h2>Sedmentação</h2>
            <img src="../static/undraw_React_re_g3ui.png" width="100%">
            <!--<canvas id="chart2"></canvas>-->
        </div>

        <div class="card">
            <h2>Gradeamento e peneiração</h2>
            <img src="../static/undraw_React_re_g3ui.png" width="100%">
            <!--<canvas id="chart3"></canvas>-->
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h2>Filtragem</h2>
            <canvas id="chart4"></canvas>
            <!--<img src="../static/undraw_React_re_g3ui.png" width="100%">-->
        </div>

        <div class="card" onclick="redirectPage('aeradores.html')">
            <h2>Aeradores</h2>
            <img src="../static/undraw_React_re_g3ui.png" width="100%">
        </div>

        <div class="card">
            <h2>Armazenamento de água para reuso</h2>
            <img src="../static/undraw_React_re_g3ui.png" width="100%">
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function redirectPage(url) {
            window.location.href = url;
        }
        var ctx1 = document.getElementById('chart1').getContext('2d');
        var chart1 = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['A', 'B', 'C'],
                datasets: [{
                    data: [30, 40, 30],
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],
                    color:'#FFFFFF'
                }]
            }
        });

        var ctx2 = document.getElementById('chart2').getContext('2d');
        var chart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio'],
                datasets: [{
                    label: '2023',
                    backgroundColor: '#36A2EB',
                    borderColor: '#36A2EB',
                    data: [10, 20, 30, 40, 50]
                }]
            }
        });

        var ctx3 = document.getElementById('chart3').getContext('2d');
        var chart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex'],
                datasets: [{
                    label: 'Novembro',
                    backgroundColor: '#36A2EB',
                    borderColor: '#36A2EB',
                    data: [5, 10, 15, 10, 5],
                    color:'#FFFFFF',
                    fill: false
                }]
            }
        });

        window.onload = function (){
        var ctx4 = document.getElementById('chart4').getContext('2d');
        var chart4 = new Chart(ctx4, {
            type: 'line',
            data: {
                labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho'],
                datasets: [{
                    label: 'Gráfico',
                    stepped: 'before', 
                    data: [0, 10, 5, 2, 20, 30, 45],
                    borderColor: 'blue',
                    backgroundColor: 'blue',
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    },
                    y: {
                        type: 'linear',
                        position: 'left'
                    }
                }
            }
        });
        };
    </script>
</body>
</html>
